.idea/
*.iml
mapClient/target/
Vocabularies/target/
WFSTools/target/
/launch-debug.bat
/src/main/webapp/slds/*
target/
cache/
.settings/
.classpath
.project

.gitlab-ci.yml
docker-compose.yml
/src/main/webapp/conf/autolayer
/src/main/webapp/conf/conf_geothermie*
/src/main/webapp/conf/autolayer_geothermie_perspective.xml
/src/main/webapp/conf/conf_geologie_recette.json
/src/main/webapp/conf/conf_amiante_corse_recette.json
/src/main/webapp/conf/geoth.json
/src/main/webapp/conf/geoth_prod.json
/src/main/webapp/conf/*.png
/src/main/webapp/conf/amiante_corse.json
/src/main/webapp/conf/catalog.json
/src/main/resources/application-recette.yml
/src/main/resources/application-prod.yml
/src/main/resources/application.yml
/src/test/resources/application.yml
