.layerSwitcherLayersList {
  .sortable-anchor,
  .sublist-sortable-anchor {
    @include themify($themes) {
      color: themed("iconBtnColor");
    }
    font-size: 1.3rem;
    padding: calculateRem(10px) calculateRem(14px);
    cursor: grab;
    &:hover {
      @include themify($themes) {
        color: themed("textColor");
      }
    }
    @media only screen and (min-width: $mediumWidth) {
      font-size: 1rem;
      padding: calculateRem(5px);
      position: relative;
      top: calculateRem(-5px);
    }
  }
}

.layerSwitcherLayerThematic {
  .thematic-title-container {
    @include themify($themes) {
      background: themed("themeColor");
    }
    padding: calculateRem(10px) 0;
    &:first-child {
      margin-top: calculateRem(10px);
    }
    @media only screen and (min-width: $mediumWidth) {
      padding-left: calculateRem(15px);
      padding-right: calculateRem(15px);
      &:first-child {
        margin-top: 0;
      }
    }
    p,
    .sortable-anchor {
      @include themify($themes) {
        color: themed("textInverseColor");
      }
    }
    p {
      padding: calculateRem(9px) 0;
      margin: 0 0 0 calculateRem(5px);
      text-transform: uppercase;
      @media only screen and (min-width: $mediumWidth) {
        padding: calculateRem(4px) 0;
      }
    }
    .sortable-anchor {
      position: relative;
      top: calculateRem(-2px);
      @media only screen and (min-width: $mediumWidth) {
        top: 0;
      }
    }
  }
}

.layerSwitcherLayer {
  @include themify($themes) {
    border-bottom: calculateRem(1px) solid themed("standardBorder");
  }
  position: relative;
  padding-bottom: calculateRem(7px);
  &:last-child {
    border-bottom: 0 none;
  }
  @media only screen and (min-width: $mediumWidth) {
    padding: calculateRem(10px) calculateRem(15px);
  }
  .layerSwitcherLayerTransparency {
    @include themify($themes) {
      background: themed("opacityBarBg");
    }
    height: calculateRem(6px);
    position: relative;
    &.ui-widget-content {
      border: 0 none;
    }
    .ui-slider-handle {
      @include themify($themes) {
        background: themed("themeColor");
      }
      margin-top: calculateRem(-4px);
      margin-left: calculateRem(-7px);
      border-radius: calculateRem(15px);
      width: calculateRem(15px);
      height: calculateRem(15px);
      border: 0 none;
      position: absolute;
    }
  }
  .toolsContainer {
    button {
      @include themify($themes) {
        color: themed("iconBtnColor");
      }
      background: transparent;
      border: 0 none;
      outline: 0;
      transition: color 0.3s ease;
      &:hover,
      &:focus,
      &:active {
        @include themify($themes) {
          color: themed("textColor");
        }
      }
      &.fa-cog {
        font-size: calculateRem(18px);
        margin-right: calculateRem(5px);
        padding: calculateRem(11px) calculateRem(12px);
        @media only screen and (min-width: $mediumWidth) {
          font-size: calculateRem(15px);
          padding: calculateRem(5px);
          position: relative;
          top: calculateRem(-4px);
        }
      }
      &.layerSwitcherLayerDelete {
        position: absolute;
        right: 0;
        top: 0;
        padding: calculateRem(13px) calculateRem(14px);
        font-size: calculateRem(26px);
        line-height: calculateRem(15px);
        @media only screen and (min-width: $mediumWidth) {
          padding: calculateRem(5px);
          position: relative;
          top: calculateRem(-4px);
        }
      }
    }
    .layerSwitcherLayerShowHide {
      label {
        padding: calculateRem(10px) calculateRem(19px);
        &:before,
        &:after {
          left: 50%;
        }
        &:before {
          margin-left: calculateRem(-9px);
        }
        &:after {
          margin-left: calculateRem(-6px);
        }
        @media only screen and (min-width: $mediumWidth) {
          padding: 0 0 0 calculateRem(25px);
          &:after,
          &:before {
            margin-left: 0;
          }
          &:before {
            left: 0;
          }
          &:after {
            left: calculateRem(3px);
          }
        }
      }
    }
    .layerSwitcherLayerTitle {
      @include themify($themes) {
        color: themed("textColor");
      }
      display: block;
      font-weight: bold;
      position: relative;
      padding-right: calculateRem(35px);
      padding-left: calculateRem(13px);
      width: 100%;
      @media only screen and (min-width: $mediumWidth) {
        padding-right: calculateRem(15px);
        padding-left: 0;
        max-width: calculateRem(345px);
      }
      &:after {
        @include fontawesome-like("\f061");
        @include themify($themes) {
          color: themed("iconBtnColor");
        }
        position: absolute;
        top: 50%;
        right: calculateRem(14px);
        margin-top: calculateRem(-8px);
        transition: color 0.3s ease;
        @media only screen and (min-width: $mediumWidth) {
          top: calculateRem(1px);
          right: 0;
          margin-top: 0;
        }
      }
      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
        &:after {
          @include themify($themes) {
            color: themed("textColor");
          }
        }
      }
      &.autolayer {
        font-weight: normal;
      }
    }
    .popover {
      @include themify($themes) {
        box-shadow: 0 0 calculateRem(15px) themed("commonShadow");
      }
      position: fixed;
      border: 0 none;
      .arrow {
        @include themify($themes) {
          border-bottom-color: themed("popoverArrowBorder");
        }
        left: calculateRem(27px);
      }
      .popover-content {
        padding: 0;
      }
    }
    .layerSwitcherLayerZoomTo {
      @include themify($themes) {
        color: themed("textColor");
        border-right-color: themed("standardBorder");
        border-bottom-color: themed("standardBorder");
      }
      width: calculateRem(50px);
      height: calculateRem(50px);
      text-align: center;
      border-right: thin solid;
      border-bottom: thin solid;
      font-size: calculateRem(10px);
      &:hover,
      &:focus,
      &:active {
        @include themify($themes) {
          color: themed("textThemeColor");
        }
      }
      i {
        @include themify($themes) {
          color: themed("textThemeColor");
        }
        font-size: 1rem;
        transition: color 0.3s ease;
        display: block;
        margin-bottom: calculateRem(9px);
        position: relative;
        top: calculateRem(7px);
      }
    }
    .layerSwitcherLayerTransparencyContainer {
      @include themify($themes) {
        border-bottom-color: themed("standardBorder");
      }
      height: calculateRem(50px);
      border-bottom: thin solid;
      width: calculateRem(150px);
      padding: calculateRem(17px) calculateRem(25px) 0;
      p {
        @include themify($themes) {
          color: themed("textColor");
        }
        font-size: calculateRem(10px);
        margin: calculateRem(7px) 0 0;
        text-align: center;
      }
    }
    .layerSwitcherLayerDetailsMenu {
      padding: calculateRem(10px) calculateRem(13px);
      margin: 0;
      font-size: calculateRem(12px);
      list-style-type: none;
      a {
        @include themify($themes) {
          color: themed("textThemeColor");
        }
        display: block;
        padding: calculateRem(3px) 0;
        i {
          margin-left: calculateRem(3px);
          position: relative;
          top: calculateRem(-1px);
        }
      }
    }
  }
  .layerSwitcherWfsFilters,
  .layerSwitcherFilters {
    padding-left: 30px;
    padding-top: 5px;
    @media only screen and (min-width: $smallWidth) {
      padding-left: 75px;
    }
    .classic-checkbox {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
      label,
      .filter-label {
        font-size: 0.9em;
        margin-bottom: 0;
        @include themify($themes) {
          color: themed("textColor");
        }
        &:before,
        &:after {
          top: calculateRem(11px);
          @media only screen and (min-width: $smallWidth) {
            top: calculateRem(10px);
          }
        }
        &:hover,
        &:active,
        &:focus {
          .filter-name {
            text-decoration: underline;
          }
        }
      }
      span,
      .fa {
        @media only screen and (min-width: $smallWidth) {
          display: block;
          float: left;
        }
      }
      .filter-name {
        @media only screen and (min-width: $smallWidth) {
          width: 285px;
        }
      }
      .squared-type {
        margin-right: calculateRem(5px);
        @media only screen and (min-width: $smallWidth) {
          top: 1px;
        }
      }
      .fa {
        position: relative;
        top: calculateRem(1px);
        @media only screen and (min-width: $smallWidth) {
          margin-right: 5px;
          top: 3px;
        }
      }
    }
  }
  .layerInfoSubpanel {
    .layerSwitcherSubpanelTools {
      margin: calculateRem(15px) 0;
    }
    .layerSwitcherLayerShowHide {
      @include themify($themes) {
        border-right-color: themed("standardBorder");
      }
      width: 25%;
      height: calculateRem(60px);
      border-right: thin solid;
      label {
        width: 100%;
        height: 100%;
        text-align: center;
        padding: calculateRem(40px) 0 0;
        &:before {
          @include themify($themes) {
            border-color: themed("themeColor");
          }
          width: calculateRem(25px);
          height: calculateRem(25px);
          left: 50%;
          margin-left: calculateRem(-13px);
          top: calculateRem(17px);
          margin-top: calculateRem(-12px);
          border-width: calculateRem(3px);
        }
        &:after {
          font-size: calculateRem(16px);
          left: 50%;
          margin-left: calculateRem(-9px);
          top: calculateRem(16px);
        }
      }
      img {
        display: block;
        margin: calculateRem(5px) auto 0;
      }
    }
    .layerSwitcherLayerZoomTo {
      @include themify($themes) {
        border-right-color: themed("standardBorder");
      }
      background: transparent;
      border: 0 none;
      height: calculateRem(60px);
      width: 25%;
      border-right: thin solid;
      i {
        @include themify($themes) {
          color: themed("textThemeColor");
        }
        display: block;
        font-size: 1.7rem;
        margin-bottom: calculateRem(13px);
        position: relative;
        top: calculateRem(4px);
        transition: color 0.3s ease;
      }
      &:hover,
      &:active,
      &:focus {
        i {
          @include themify($themes) {
            color: themed("textThemeDarkenColor");
          }
        }
      }
    }
    .layerSwitcherLayerTransparencyContainer {
      height: calculateRem(60px);
      width: 50%;
      text-align: center;
      padding: calculateRem(20px) calculateRem(20px) 0;
      p {
        margin: calculateRem(15px) 0 0;
      }
    }
    .layerLinks {
      margin-bottom: calculateRem(20px);
      a {
        display: block;
        max-width: 40%;
      }
    }
    address {
      margin-bottom: calculateRem(15px);
    }
    .metadataAccessConstraint {
      line-height: calculateRem(15px);
      font-style: italic;
    }
    .metadataLegendUrl,
    .metadataServiceUrl,
    .metadataWfsUrl,
    .metadataDownloadFeatureUrl {
      position: relative;
      a {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: calculateRem(30px);
        display: inline-block;
      }
    }
    .trosace {
      background-image: url("../images/layerSwitcher/rosace.png");
      background-position: center center;
      background-repeat: no-repeat;
      height: calculateRem(76px);
      width: calculateRem(145px);
      position: relative;
      span {
        position: absolute;
      }
      .tnorth,
      .tsouth {
        width: 100%;
        left: 0;
        text-align: center;
      }
      .tnorth {
        top: 0;
      }
      .tsouth {
        bottom: 0;
      }
      .teast,
      .twest {
        top: 50%;
        margin-top: calculateRem(-8px);
      }
      .twest {
        left: 0;
      }
      .teast {
        right: 0;
      }
    }
  }
  .layerSwitcherLayerSRS {
    background: url("../images/layerSwitcher/attention.png") center center no-repeat;
    width: calculateRem(42px);
    height: calculateRem(42px);
    @media only screen and (min-width: $mediumWidth) {
      width: calculateRem(18px);
      height: calculateRem(15px);
      margin-right: calculateRem(11px);
    }
  }
  .layerSwitcherLayerLoader {
    display: none;
    padding: calculateRem(10px) calculateRem(12px);
    @media only screen and (min-width: $mediumWidth) {
      margin-right: calculateRem(9px);
      padding: 0;
    }
    img {
      max-width: calculateRem(18px);
      position: relative;
      top: calculateRem(-1px);
    }
  }
  .layerTimeManagement {
    .layer-time-form {
      .btn {
        .fa {
          margin-right: 0.25rem;
        }
      }
    }
    .layer-time-stop-btn {
      margin-left: 0.5rem;
    }
  }
}

.ui-sortable-helper {
  @include themify($themes) {
    background: themed("standardBg");
    border-color: themed("standardBorder");
  }
  border: calculateRem(1px) solid;
  .toolsContainer {
    .sortable-anchor {
      cursor: grabbing;
    }
  }
}

.ui-sortable-placeholder {
  @include themify($themes) {
    background: themed("greyBg");
  }
  visibility: visible !important; /* override inline jquery-ui css */
}
