@font-face {
    font-family: 'onegicons';
    src:  url('../fonts/onegicons.eot?8pxbm5');
    src:  url('../fonts/onegicons.eot?8pxbm5#iefix') format('embedded-opentype'),
      url('../fonts/onegicons.ttf?8pxbm5') format('truetype'),
      url('../fonts/onegicons.woff?8pxbm5') format('woff'),
      url('../fonts/onegicons.svg?8pxbm5#onegicons') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  .ogi {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'onegicons' !important;
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .ogi-scudd:before { 
    content: "\e900";
  }
  .ogi-download:before {
    content: "\e901";
  }
  .ogi-help:before {
    content: "\e902";
  }
  